* { margin: 0; padding: 0; list-style: none; text-decoration: none; box-sizing: border-box; color: inherit; }

h1, h2, h3 {
  font-family: serif;
}

.inner {
  width: 1200px;
}

.group.vertical {
  display: flex;
  flex-direction: column;
}

.group.horizontal {
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  background: #1a3a5c;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.125);
}
.header.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 50px;
}
header .menu {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  height: 100%;
  
  & > ul {
    display: flex;
    gap: 50px;
    height: 100%;

    & > li {
      position: relative;
      height: 100%;

      & input {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
      }

      & input:focus ~ ul {
        opacity: 1 !important;
        height: fit-content;
      }

      & input:focus ~ a .icon::after {
        rotate: 0deg !important;
      }

      &:not(:hover) input {
        animation: kill-focus .001s forwards;
      }

      & > a {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;

        & .icon {
          position: relative;
          
          &::before {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 2px;
            background: #fff;
          }

          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 2px;
            background: #fff;
            rotate: 90deg;
            transition: .25s;
          }
        }
      }
    }
  }
}
.menu-active {
  position: absolute;
  top: 75px;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  width: 150px;
  opacity: 0;
  transition: .25s;
  height: 0;
  
  & li {
    padding: 10px 25px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    color: #00000076;
    font-size: 14px;
    transition: color .25s;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.125);

    &:hover {
      color: #000;
    }

    &:last-child {
      border: none;
      border-radius: 0 0 5px 5px;
    }
  }
}
header .auth ul {
  display: flex;
  align-items: center;
  gap: 10px;

  & .button {
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    transition: .25s;
    cursor: pointer;

    &.high-light {
      border-color: transparent;
      background: #e8a020;
    }

    &:hover {
      background: #fff;
      color: #1a3a5c;
    }
  }
}

@keyframes kill-focus {
  from {
    display: none;
  }

  to {
    display: block;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  background: #f7f5f0;
}
.main.inner {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background: #1a3a5c;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4d6a89;
  padding: 25px 0;

  & .group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & b {
      color: #fff;
      font-size: 15px;
    }

    & p {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      color: #92a7bd;

      & b {
        font-size: 15px;
        color: #e8a020;
      }
    }

    &.sns {
      align-items: end;
    }
  }

  & .sns ul {
    display: flex;
    gap: 10px;
    font-size: 32px;
    color: #fff;
  }
}
.footer-bottom {
  padding: 25px 0;
  font-size: 14px;
  color: #92a7bd;
}
.group-flex {
  display: flex;
  align-items: center;
  gap: 25px;
}

.login-popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000026;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;

  & .login-popup {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 25px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 2px 5px #00000026;
  }

  .popup-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    border-bottom: 1px solid #dfdfdf;

    & .button {
      font-size: 14px;
      color: #a4a4a4;
      cursor: pointer;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
  }

  & .group {
    justify-content: space-between;
    gap: 25px;
  }

  input {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
  }

  p {
    font-size: 14px;
  }

  button {
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
  }
}

#login-popup:checked ~ .login-popup-background {
  display: flex;
}

.first-popup-background {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000026;
  z-index: 200;
  
  & .first-popup {
    animation: first-popup .5s forwards;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 25px 25px 5px 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px #00000026;

    & img {
      height: 250px;
    }

    .text-area {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px 25px;
      border-top: 1px solid #dfdfdf;

      & .desc {
        font-size: 14px;
        color: #a4a4a4;
      }
    }

    & .button-group {
      display: flex;
      justify-content: end;
      padding: 10px 25px;
      border-top: 1px solid #dfdfdf;
      font-size: 14px;
      color: #a4a4a4;

      & .button {
        cursor: pointer;
      }
    }
  }
}

#first-popup:checked ~ .first-popup-background {
  display: flex;
}

@keyframes first-popup {
  from {
    opacity: 0;
    transform: scale(90%) translateY(25px);
  }

  to {
    opacity: 1;
  }
}