.books {display: grid;grid-template-columns: repeat(4, 1fr);gap: 10px;}
.book {width: 100%;height: fit-content;padding: 10px;border: 1px solid #00000026;border-radius: 10px;background: #fff;}
.book img {aspect-ratio: 1;margin-bottom: 10px;}
.book .text-area {display: flex;flex-direction: column;gap: 5px;}
.book .name {font-weight: bold;}
.book .author {font-size: 14px;}
.book .publication-date {font-size: 14px;}
.book .price {font-size: 14px;}
.book .rent-able {font-size: 14px;}
.book .rent-period {font-size: 14px;}
.book button {width: 100%;padding: 5px 15px;border: 1px solid #00000026;border-radius: 5px;cursor: pointer;margin-top: 5px;}