#firstPopup:checked ~ .first-popup {display: flex;}
.first-popup .content {width: 500px;background: #fff;box-shadow: 0 2px 5px #00000026;border-radius: 10px 10px 5px 5px;overflow: hidden;animation: first-popup .5s forwards;}
.first-popup img {width: 100%;}
.first-popup .text-area {display: flex;flex-direction: column;gap: 10px;padding: 10px 25px;border-top: 1px solid #00000026;}
.first-popup .text-area .text-1 {font-size: 18px;font-family: serif;font-weight: bold;color: #1a3a5c;}
.first-popup .text-area .text-2 {font-size: 14px;color: #00000098;}
.first-popup .popup-bottom {display: flex;justify-content: end;padding: 10px 25px;font-size: 14px;color: #00000098;border-top: 1px solid #00000026;}
.first-popup .popup-bottom label {cursor: pointer;}
@keyframes first-popup {
  from {transform: translateY(50px) scale(90%);opacity: 0;}
}

.admin-popup .content {width: 500px;background: #fff;box-shadow: 0 2px 5px #00000026;border-radius: 10px 10px 5px 5px;overflow: hidden;animation: first-popup .5s forwards;}
.admin-popup img {width: 100%;vertical-align: middle;}
.admin-popup .text-area {display: flex;flex-direction: column;gap: 10px;padding: 10px 25px;border-top: 1px solid #00000026;}
.admin-popup .text-area .text-1 {font-size: 18px;font-family: serif;font-weight: bold;color: #1a3a5c;}
.admin-popup .text-area .text-2 {font-size: 14px;color: #00000098;}
.admin-popup .popup-bottom {display: flex;justify-content: end;padding: 10px 25px;font-size: 14px;color: #00000098;border-top: 1px solid #00000026;}
.admin-popup .popup-bottom .close {cursor: pointer;}

section.visual {position: relative;width: 100%;overflow: hidden;}
.slide-cover {display: flex;width: 300%;height: 550px;}
.slide-cover .slide {position: relative;display: flex;justify-content: center;align-items: end;width: 100%;animation: slide 9s infinite;}
.slide-cover .slide > img {position: absolute;left: 0;bottom: 0;width: 100%;height: 100%;object-fit: cover;}
.slide-cover .slide > .text-area {display: flex;flex-direction: column;gap: 15px;width: 1200px;padding: 50px 0;z-index: 100;}
.slide-cover .category {padding: 5px 15px;background: #e8a020;width: fit-content;border-radius: 5px;color: #fff;font-weight: 500;font-size: 14px;}
.slide-cover .content-1 {font-size: 32px;color: #fff;font-family: serif;font-weight: 700;}
.slide-cover .content-2 {font-size: 15px;color: #ffffffc1;}
.slide-cover .slide::before {content: "";display: block;position: absolute;bottom: 0;left: 0;z-index: 100;width: 100%;height: 50%;background: linear-gradient(to top, #00000098, transparent);}
.status-bar {position: absolute;bottom: 0;width: 0;height: 5px;background: #e8a020;animation: status-bar 3s infinite;}
section.visual:hover .slide, section.visual:hover .status-bar {animation-play-state: paused;}
@keyframes slide {
  from, 30% {transform: translateX(0);}
  33.3333%, 63.6666% {transform: translateX(-100%);}
  66.6666%, 96.6666% {transform: translateX(-200%);}
  to {transform: translateX(0);}
}
@keyframes status-bar {
  from {width: 0;}
  96.66% {width: 100%;opacity: 1;}
  to {opacity: 0;}
}

section.news {width: 100%;}
section.news .tabs {display: flex;width: 100%;border-bottom: 3px solid #00000026;}
section.news .tabs .tab {position: relative;padding: 10px 15px;font-size: 15px;color: #a4a4a4;cursor: pointer;transition: .25s;}
section.news .tabs .tab::after {position: absolute;left: 0;bottom: -3px;content: "";display: block;width: 100%;height: 3px;background: #1a3a5c;opacity: 0;transition: .25s;}
#tab1:checked ~ .tabs .tab1 {font-weight: bold;color: #1a3a5c;}
#tab1:checked ~ .tabs .tab1::after {opacity: 1;}
#tab2:checked ~ .tabs .tab2 {font-weight: bold;color: #1a3a5c;}
#tab2:checked ~ .tabs .tab2::after {opacity: 1;}
#tab3:checked ~ .tabs .tab3::after {opacity: 1;}
#tab3:checked ~ .tabs .tab3 {font-weight: bold;color: #1a3a5c;}
.news-container .news {display: none;justify-content: space-between;align-items: center;gap: 10px;padding: 10px 0;border-bottom: 1px solid #00000026;cursor: pointer;transition: .25s;}
.news-container .news:hover {padding-left: 15px;background: #00000005;}
.news-container .news .text-1 {font-size: 15px;}
.news-container .news .text-2 {font-size: 14px;color: #a4a4a4;white-space: nowrap;}
#tab1:checked ~ .news-container .tab1 {display: flex;}
#tab2:checked ~ .news-container .tab2 {display: flex;}
#tab3:checked ~ .news-container .tab3 {display: flex;}

section.quick .menus {display: grid;grid-template-columns: repeat(3, 150px);gap: 10px;}
section.quick .menu {display: flex;flex-direction: column;align-items: center;gap: 5px;padding: 15px 25px;white-space: nowrap;border: 1px solid #00000026;border-radius: 5px;cursor: pointer;transition: .25s;}
section.quick .menu:hover {background: #00000005;}
section.quick .menu i {font-size: 32px;color: #1a3a5c;}
section.quick .menu .text-1 {font-size: 14px;color: #00000098;}

section.program .popup-overlay .content {width: 500px;background: #fff;border-radius: 5px;overflow: hidden;box-shadow: 0 2px 5px #00000026;}
section.program .popup-overlay .content .popup-top {padding: 10px 25px;font-size: 14px;color: #00000098;border-bottom: 1px solid #00000026;}
section.program .popup-overlay .content .popup-bottom {display: flex;justify-content: end;align-items: center;padding: 10px 25px;font-size: 14px;color: #00000098;border-top: 1px solid #00000026;}
section.program .popup-overlay .content .popup-bottom label {cursor: pointer;}
section.program .popup-overlay .content .popup-content img {width: 100%;height: 100%;vertical-align: middle;}
#program1:checked ~ .program-1 {display: flex;}
#program2:checked ~ .program-2 {display: flex;}
#program3:checked ~ .program-3 {display: flex;}
#program4:checked ~ .program-4 {display: flex;}
#program5:checked ~ .program-5 {display: flex;}
#program6:checked ~ .program-6 {display: flex;}
#program7:checked ~ .program-7 {display: flex;}
#program8:checked ~ .program-8 {display: flex;}
section.program .programs {display: grid;grid-template-columns: repeat(4, 1fr);gap: 10px;}
section.program .programs .program {position: relative;width: 100%;height: 100%;cursor: pointer;transition: .25s;border: 1px solid #00000026;overflow: hidden;}
section.program .programs:hover .program {transform: scale(90%);opacity: 0.66;}
section.program .programs .program:hover {transform: scale(110%);opacity: 1;}
section.program .programs .program img {width: 100%;height: 100%;object-fit: cover;}
section.program .programs .program .content-1 {display: flex;flex-direction: column;align-items: center;gap: 15px;position: absolute;bottom: 0;width: 100%;padding: 15px 25px;background: #fff;border-top: 1px solid #00000026;transform: translateY(100%);transition: .25s;}
section.program .programs .program:hover .content-1 {transform: translateY(0);}
section.program .programs .program .text-1 {font-size: 15px;text-align: center;}
section.program .programs .program .text-2 {padding: 5px 10px;font-size: 14px;border: 1px solid #00000026;border-radius: 50px;width: fit-content;color: #00000098;}

section.schedule .group-1 {display: flex;justify-content: space-between;align-items: center;padding: 10px 25px;background: #fff;margin-bottom: 25px;border-radius: 10px;border: 1px solid #00000026;}
section.schedule .content-1 {font-size: 15px;color: #1a3a5c;}
section.schedule .group-1 select {padding: 5px 10px;border: 1px solid #00000026;border-radius: 5px;}
.calendar {padding: 25px;border-radius: 10px;background: #fff;border: 1px solid #00000026;}
.calendar .weeks {display: flex;margin-bottom: 5px;}
.calendar .week {width: 100%;text-align: center;color: #00000098;}
.calendar .week:nth-child(6) {color: #1a3a5c;}
.calendar .week:last-child {color: red;}
.calendar .cells {display: grid;grid-template-columns: repeat(7, 1fr);gap: 5px;}
.calendar .cell {padding: 10px;height: 150px;border-radius: 5px;transition: .25s;}
.calendar .cell:hover {background: #00000005;}
.calendar .cell .day {font-size: 14px;margin-bottom: 5px;color: #00000098;}
.calendar .cell .content-2 {font-size: 12px;padding: 2.5px 5px;background: #00000005;margin-bottom: 2.5px;border-radius: 5px;border-bottom: 1px solid #00000026;cursor: pointer;}
.calendar .cell:nth-child(7n + 6) .day {color: #1a3a5c;}
.calendar .cell:nth-child(7n) .day {color: red;}

section.recommand {overflow: hidden;}
section.recommand .group-1 {display: flex;justify-content: center;align-items: center;gap: 25px;width: 100%;margin-top: 25px;}
section.recommand .group-1 .group-2 {position: relative;display: flex;}
section.recommand .group-1 .group-2 .pagination {display: flex;align-items: center;gap: 15px;display: none;}
section.recommand .pagination .button {display: flex;justify-content: center;align-items: center;width: 35px;height: 35px;border: 1px solid #00000026;background: #fff;border-radius: 25px;cursor: pointer;}
section.recommand .pagination .content-1 {font-size: 14px;color: #1a3a5c;}
section.recommand .pagination .content-1 .text-1 {font-weight: bold;}
#page1:checked ~ .group-1 .page-1 {display: flex;}
#page2:checked ~ .group-1 .page-2 {display: flex;}
#page1:checked ~ .books {transform: translate();}
#page2:checked ~ .books {transform: translate(-1200px);}
section.recommand .books {display: flex;transition: .5s;}
section.recommand .books .group-3 {display: grid;grid-template-columns: repeat(6, 1fr);align-items: end;gap: 10px;min-width: 1200px;}
section.recommand .book {position: relative;width: 100%;height: fit-content;border: 1px solid #00000026;border-radius: 10px 10px 10px 0;overflow: hidden;}
section.recommand .book img {width: 100%;vertical-align: middle;}
section.recommand .book .text-area {position: absolute;bottom: 0;display: flex;flex-direction: column;gap: 5px;padding: 10px;background: #fff;width: 100%;border-top: 1px solid #00000026;}
section.recommand .book .text-area .text-1 {font-size: 15px;}
section.recommand .book .text-area .text-2 {font-size: 14px;color: #00000098;}
section.recommand .page-disabled {position: absolute;left: 0;display: block;width: 100%;height: 100%;pointer-events: none;}
#page1:checked ~ .group-1 .page-disabled {animation: prevent-click-1 .5s step-end forwards;}
#page2:checked ~ .group-1 .page-disabled {animation: prevent-click-2 .5s step-end forwards;}
@keyframes prevent-click-1 {
  from {pointer-events: auto;}
  to {pointer-events: none;}
}
@keyframes prevent-click-2 {
  from {pointer-events: auto;}
  to {pointer-events: none;}
}