table {width: 100%;border-collapse: collapse;}
th {border-bottom: 2px solid #00000026;padding: 10px 0;text-align: left;font-size: 14px;}
td {padding: 10px 0;font-size: 14px;}
tr {border-bottom: 1px solid #00000026;}
