section.visual {position: relative;width: 100%;overflow: hidden;}
.slide-cover {display: flex;width: 300%;height: 550px;}
.slide-cover .slide {position: relative;display: flex;justify-content: center;align-items: end;width: 100%;animation: slide 9s infinite;}
.slide-cover .slide > img {position: absolute;left: 0;bottom: 0;width: 100%;height: 100%;object-fit: cover;}
.slide-cover .slide > .text-area {display: flex;flex-direction: column;gap: 15px;width: 1200px;padding: 50px 0;z-index: 100;}
.slide-cover .category {padding: 5px 15px;background: #e8a020;width: fit-content;border-radius: 5px;color: #fff;font-weight: 500;font-size: 14px;}
.slide-cover .content-1 {font-size: 32px;color: #fff;font-family: serif;font-weight: 700;}
.slide-cover .content-2 {font-size: 15px;color: #ffffffc1;}
.slide-cover .slide::before {content: "";display: block;position: absolute;bottom: 0;left: 0;z-index: 100;width: 100%;height: 50%;background: linear-gradient(to top, #00000098, transparent);}
.status-bar {position: absolute;bottom: 0;width: 0;height: 5px;background: #e8a020;animation: status-bar 3s infinite;}
section.visual:hover .slide, section.visual:hover .status-bar {animation-play-state: paused;}
@keyframes slide {
  from, 30% {transform: translateX(0);}
  33.3333%, 63.6666% {transform: translateX(-100%);}
  66.6666%, 96.6666% {transform: translateX(-200%);}
  to {transform: translateX(0);}
}
@keyframes status-bar {
  from {width: 0;}
  96.66% {width: 100%;opacity: 1;}
  to {opacity: 0;}
}

section.news .tabs {display: flex;width: 100%;border-bottom: 3px solid #00000026;}
section.news .tabs .tab {position: relative;padding: 10px 15px;font-size: 15px;color: #a4a4a4;cursor: pointer;transition: .25s;}
section.news .tabs .tab::after {position: absolute;left: 0;bottom: -3px;content: "";display: block;width: 100%;height: 3px;background: #1a3a5c;opacity: 0;transition: .25s;}
#tab1:checked ~ .tabs .tab1 {font-weight: bold;color: #1a3a5c;}
#tab1:checked ~ .tabs .tab1::after {opacity: 1;}
#tab2:checked ~ .tabs .tab2 {font-weight: bold;color: #1a3a5c;}
#tab2:checked ~ .tabs .tab2::after {opacity: 1;}
#tab3:checked ~ .tabs .tab3 {font-weight: bold;color: #1a3a5c;}
#tab3:checked ~ .tabs .tab3::after {opacity: 1;}